<?xml version="1.0"?>
<configuration>
	<appSettings>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Forms"/>
		<!--<httpModules>
			<add name="OtpModule" type="OtpModule"/>
		</httpModules>-->
	</system.web>
  <system.webServer>
    <modules>
      <add name="OtpModule" type="OtpModule" />
    </modules>
  </system.webServer>    
</configuration>
