<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="OtpConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|otp.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>		
	</system.web>
</configuration>
